@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/FPDAZ2S6SW4QMSRIIKNNGTPM6VIXYMKO/5HNPQ453FRLIQWV2FNOBUU3FKTDZQVSG/Z3MGHFHX6DCTLQ55LJYRJ5MDCZPMFZU6.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Clash Display";
  src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/BFBSY7LX5W2U2EROCLVVTQP4VS7S4PC3/IIUX4FGTMD2LK2VWD3RVTAS4SSMUN7B5/53RZKGODFYDW3QHTIL7IPOWTBCSUEZK7.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Clash Display";
  src: url("https://framerusercontent.com/third-party-assets/fontshare/wf/VFMK2COV3DN37JR7JQ4CAOJPZ7KWKNY7/ODD5YJNDLHZZB2MIT3DPVH4EIHAMZ34D/BSY64LPTT3OPLVKAZKL3AHKRWZ3D74AC.woff2");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

:root {
  --background: #111111;
  --foreground: #ffffff;
  --accent: #f83200;
  --muted: #999999;
  --border: #333333;
}

body {
  background: var(--background);
  color: var(--foreground);
}
